<h1 class="text-center">Score</h1>

<div class="wrapper">
  <div class="container text-center">
    <div class="row">
      <div class="col-xs-12">
        <div class="results">
          <p>Your Word: <%= @attempt %></p>
          <p>Time taken to answer: <%= @time_taken %></p>
          <p>Translation: <%= @translation %></p>
          <p>Your Score: <%= @score %></p>
          <p>Message: <%= @message %></p>
        </div>
        <%= link_to "New Game", "/difficulty", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
